<div class="project">
  <%= link_to project.title, project_path(project) %>
  <div class="project_actions">
    <%= link_to "Edit", edit_project_path(project), class: "bnt btn-light" %>
    <%= button_to "Delete", project_path(project), method: :delete, class: "bnt btn-light" %>
  </div>
</div>