<main class="container mx-auto mt-4">
  <div class="bg-blue-100 p-4 rounded-lg shadow-md">

      <div class="header mb-4">
        <h1 class="text-3xl font-bold mb-2">Projects</h1>
        <%= link_to "New project", new_project_path, data: { turbo_frame: dom_id(Project.new) }, class: "px-4 py-2 rounded-lg bg-blue-500 text-white font-semibold hover:bg-blue-600 transition duration-300 ease-in-out" %>
      </div>

    <%= turbo_frame_tag Project.new %>

    <%= turbo_frame_tag "projects" do %>
      <%= render @projects %>
    <% end %>

  </div>
</main>