<main class="container mx-auto mt-4">
  <%= link_to sanitize("&larr; Back to task"), task_path(@task), class: "text-blue-500 mb-4 block" %>

  <div class="bg-blue-100 p-4 rounded-lg shadow-md">
    <div class="header mb-4">
      <h1 class="text-3xl font-bold">Edit Report</h1>
    </div>

    <%= turbo_frame_tag @report do %>
      <%= render "form", task: @task, report: @report %>
    <% end %>
  </div>
</main>
