<main class="container">
<!--  Todo link back-->
  <%= link_to sanitize("&larr; Back to task") %>
  <div class="header">
    <h1>
      <%= @report.title %>
      <%= @report.description %>
    </h1>
  </div>
</main>