<div data-controller="flash">
  <% flash.each do |flash_type, message| %>
    <div class="mx-auto md:w-2/1 w-full top-20 flex absolute">
      <p class="mx-auto py-2 px-3 bg-green-100 mb-5 text-green-700 font-medium rounded-lg inline-block"><%= message %></p>
    </div>
  <% end %>
</div>